@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --color-VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --color-DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --color-GrayishBlue: hsl(212, 23%, 69%);
  --color-LightGrayishBlue: hsl(210, 46%, 95%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  background-color: var(--color-LightGrayishBlue);

}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

/* body * {
  border: solid 1px pink;
} */


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;

}

.container {
  display: flex;
  height: 40%;
  width: 65%;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 17px 10px 43px -37px #030005;
}

.card {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.left {
  height: 100%;
  overflow: hidden;

  width: 45%;

}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  height: 90%;
  margin: 5%;

}

header{
 font-weight: 700;
 font-size: 1.5rem;
 width: 95%;
 align-self: flex-start;

;
}

main{
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-GrayishBlue);
 
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  align-self: flex-start;


}

.avatar > img {
  border-radius: 50%;
  height: 3rem;

}

.image-name-date-container{
  display: flex;
  align-items: center;
  height: 5%;
}
.name-date-container{
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
}

.name {
  font-weight: 700;
}
.date {
  font-weight: 500;
  color: var(--color-GrayishBlue);
}

.share-icon {
  background-color: var(--color-LightGrayishBlue);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon > img:hover {
  filter: invert(30%);
}



.footer {
  align-self: center;
  position: absolute;
  bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-VeryDarkGrayishBlue);
}

.attribution a {
  color: var(--color-GrayishBlue);
  text-decoration: none;
}

