@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --color-VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --color-DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --color-GrayishBlue: hsl(212, 23%, 69%);
  --color-LightGrayishBlue: hsl(210, 46%, 95%);
}

/*   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

 
  
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/*   HTML5 display-role reset for older browsers   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
    
  
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}  
/*
  END CSS RESET  
 */

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body{
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;

  background-color: var(--color-LightGrayishBlue);
}

  html * {
  border: solid 1px pink;
}  

  
.container {
  display: flex;
  width: 45.5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 17px 10px 43px -37px #030005;

}
.card {
  display: flex;
  height: 100%;
  width: 100%;  
  flex-shrink: 1;
}

.left {
  overflow: hidden;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  flex-basis: 42%;
}

.left > img {
  height: 100%;
  overflow: hidden;
  object-fit: cover;

}

.right {
  flex-basis: 57%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .75rem;
  margin: 0 1.5rem;

}

header{
  font-weight: 700;
  font-size: 1.35rem;  
  letter-spacing: .04rem;
  color: var(--color-VeryDarkGrayishBlue);
}

main{
  font-size: .75rem;
  letter-spacing: .02rem;
  color: var(--color-GrayishBlue);
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.avatar {
  display:flex;
  align-items: center;
}
.avatar > img {
  border-radius: 10rem;
  height: 3.5rem;
}

.image-name-date-container{
  display: flex;
  flex-grow: 1;
  align-items: center; 
  height: 5rem;
  gap: 1.4rem;
}

.name-date-container{
  display: flex;
  flex-direction: column; 
}
/*
.name {
  font-weight: 700;
}
.date {
  font-weight: 500;
  color: var(--color-GrayishBlue);
}

.share-icon {
  background-color: var(--color-LightGrayishBlue);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem; 
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.share-icon:hover:not(img) {
  background-color: var(--color-VeryDarkGrayishBlue);
}

.share-icon:hover > img,
.share-icon:focus {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(3%) hue-rotate(222deg) brightness(103%) contrast(100%);
}


.popup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  width: 300px;
  min-height: 50px;
  border-radius: 12.5px;
  box-shadow: 17px 10px 43px -37px #030005;
  background-color: var(--color-VeryDarkGrayishBlue);
  color: var(--color-GrayishBlue);
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: -250%;

}


span.popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.show {
  visibility: visible;
}
*/

.footer {
  align-self: center;
  position: absolute;
  bottom: 15px;
}

/*
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-VeryDarkGrayishBlue);
}

.attribution a {
  color: var(--color-GrayishBlue);
  text-decoration: none;
}

   */